
@import "typography.css";
@import "fonts.css";

@import "nav.css";
@import "carousel.css";
@import "gallery.css";
@import "footer.css";

@import "student-detail/student-detail.css";
@import "student-detail/student-gallery.css";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../assets/textures/fabric_plaid.png');
}

main {
    margin: 0.9375em 1.875em 0; /* 0.9375em = 15px */
}