nav {
    display: flex;
    justify-content: space-between;
    height: 5em; /* 5em = 80px */
    margin-bottom: 0.3125em; /* 0.3125em = 5px */
}

nav section:first-child {
    display: flex;
    align-items: center;
}

nav .nav-items a{
    margin-left: 1em;
}

.social-icon {
    height: 1.5625em; /* 1.5625em = 25px */
    width: 1.5625em; /* 1.5625em = 25px */
}