/* TYPOGRAPHY */
html {
    font-family: 'Museo';
    font-weight: 100;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    color: #6F6F6F;
    transition: color 0.25s ease;
}

a:hover {
    color: #000;
}

h5 {
    font-size: 1em;
    font-weight: 500;
    color: #353535;
    text-transform: uppercase;
}

.tag-line{
    text-transform: none;
    text-align: center;
    margin-bottom: 2.8125em;
    color: #525252;
}
